<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>Omnivision Cloud</title>

  <link rel="shortcut icon" type="image/x-icon" href="../../resource/img/favicon.png"/>
  <link href="../../public/css/bootstrap.min.css" rel="stylesheet">

  <link href="../css/five.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/style.css" media="all"/>
  <link href="../css/content.css" rel="stylesheet">
  <link href="../css/sidebar.css" rel="stylesheet">
  <link href="../css/sdk.css" rel="stylesheet">
  <!---->
  <script src="../../public/js/compatible/modernizr.js"></script>
  <script type="text/javascript" src="../../public/js/jquery/jquery.min.js"></script>
  <script src="../../public/js/serverurl.js"></script>
  <script src="../../public/js/jquery/jquery.i18n.properties-1.0.9.js"></script>
  <script src="../js/language.js"></script>
  <script src="../js/userinfo.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function () {
      var qcloud = {};
      $('[_t_nav]').hover(function () {
        var _nav = $(this).attr('_t_nav');
        clearTimeout(qcloud[_nav + '_timer']);
        qcloud[_nav + '_timer'] = setTimeout(function () {
          $('[_t_nav]').each(function () {
            $(this)[_nav == $(this).attr('_t_nav') ? 'addClass' : 'removeClass']('nav-up-selected');
          });
          $('#' + _nav).stop(true, true).slideDown(200);
        }, 150);
      }, function () {
        var _nav = $(this).attr('_t_nav');
        clearTimeout(qcloud[_nav + '_timer']);
        qcloud[_nav + '_timer'] = setTimeout(function () {
          $('[_t_nav]').removeClass('nav-up-selected');
          $('#' + _nav).stop(true, true).slideUp(200);
        }, 150);
      });
    });
  </script>
</head>
<body>
  <div class="page">
    <div class="head">
      <div class="navigation-up">
        <div class="navigation-inner">
          <div class="navigation w-title">
            <a href="javascript:;" translate-name="header_title">OmniVision Cloud</a>
          </div>
          <div class="navigation m-l">
            <ul>
              <li class="" _t_nav="home">
                <h2>
                  <a href="../../index.html" translate-name="header_home">首页</a>
                </h2>
              </li>
              <li class="" _t_nav="services">
                <h2>
                  <a href="javascript:;" translate-name="header_service">服务</a>
                </h2>
              </li>
              <li class="nav-up-selected-inpage" _t_nav="developer">
                <h2>
                  <a href="javascript:;" translate-name="header_develop">开发者中心</a>
                </h2>
              </li>
              <li class="" _t_nav="appdownload">
                <h2>
                  <a href="javascript:;" translate-name="header_appDownload">APP下载</a>
                </h2>
              </li>
            </ul>
          </div>
          <div class="navigation-narrow pull-right">
            <ul>
              <li _t_nav="language">
                <h2>
                  <a href="javascript:;" id="currentLang">中文</a>
                </h2>
              </li>
            </ul>
            <div class="navigation-down-narrow" id="language" _t_nav="language" style="display: none;">
              <div>
                <h2><a class="link" href="javascript:;" onclick="changeLang(this)">English</a></h2>
              </div>
            </div>
          </div>
          <div class="navigation pull-right">
            <ul>
              <li _t_nav="login" id="userinfo">
                <h2 class="nousername">
                  <a class="text-primary p-r nobackgroud" href="signup.html">
                    <span translate-name="header_signup">注册</span>
                  </a>
                  <span>|</span>
                  <a class=" text-primary p-l nobackgroud" href="signin.html">
                    <span translate-name="header_signin">登录</span>
                  </a>
                </h2>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navigation-down">
        <div class="nav-down-menu menu-3 menu-1" id="product" _t_nav="product" style="display: none;">
          <div class="navigation-down-inner">
            <dl style="margin-left: 100px;">
              <dt>计算机与网络</dt>
              <dd>
                <a hotrep="hp.header.product.compute1" href="http://down.admin5.com">云服务器</a>
              </dd>
              <dd>
                <a hotrep="hp.header.product.compute2" href="http://down.admin5.com">弹性Web引擎</a>
              </dd>
              <dd>
                <a hotrep="hp.header.product.compute3" href="http://down.admin5.com">负载均衡</a>
              </dd>
            </dl>
            <dl>
              <dt>存储与CDN</dt>
              <dd>
                <a hotrep="hp.header.product.storage1" href="http://down.admin5.com">云数据库</a>
              </dd>
              <dd>
                <a hotrep="hp.header.product.storage2" href="http://down.admin5.com">NoSQL高速存储</a>
              </dd>
              <dd>
                <a hotrep="hp.header.product.storage4" href="http://down.admin5.com">对象存储服务(beta)</a>
              </dd>
              <dd>
                <a hotrep="hp.header.product.storage3" href="http://down.admin5.com">CDN</a>
              </dd>
            </dl>
            <dl>
              <dt>监控与安全</dt>
              <dd>
                <a hotrep="hp.header.product.monitoring1" href="http://down.admin5.com">云监控</a>
              </dd>
              <dd>
                <a hotrep="hp.header.product.monitoring2" href="http://down.admin5.com">云安全</a>
              </dd>
              <dd>
                <a hotrep="hp.header.product.monitoring3" href="http://down.admin5.com">云拨测</a>
              </dd>
            </dl>
            <dl>
              <dt>数据分析</dt>
              <dd>
                <a hotrep="hp.header.product.analysis1" href="http://down.admin5.com">腾讯云分析</a>
              </dd>
              <dd>
                <a hotrep="hp.header.product.analysis2" href="http://down.admin5.com">关键因子</a>
              </dd>
            </dl>
            <dl>
              <dt>开发者工具</dt>
              <dd>
                <a hotrep="hp.header.product.devtool1" href="http://down.admin5.com">移动加速</a>
              </dd>
              <dd>
                <a hotrep="hp.header.product.devtool2" href="http://down.admin5.com">应用加固</a>
              </dd>
              <dd>
                <a hotrep="hp.header.product.devtool3" href="http://down.admin5.com">信鸽推送</a>
              </dd>
            </dl>
            <dl>
              <dt>开发者服务</dt>
              <dd>
                <a hotrep="hp.header.product.service1" href="http://down.admin5.com">安全认证服务</a>
              </dd>
              <dd>
                <a hotrep="hp.header.product.service2" href="http://down.admin5.com">域名备案</a>
              </dd>
            </dl>
          </div>
        </div>
        <div class="nav-down-menu menu-3 menu-1" id="services" _t_nav="services" style="display: none;">
          <div class="navigation-down-inner">
            <dl style="margin-left: 380px;">
              <dd>
                <a class="link" href="iris.html" translate-name="header_service_iris">虹膜识别</a>
              </dd>
            </dl>
            <dl>
              <dd>
                <a class="link" href="javascript:;" translate-name="header_service_car">智能车载</a>
              </dd>
            </dl>
            <dl>
              <dd>
                <a class="link" href="javascript:;" translate-name="header_service_home">智能家居</a>
              </dd>
            </dl>
            <dl>
              <dd>
                <a class="link" href="javascript:;" translate-name="header_service_gyroeye">陀螺眼</a>
              </dd>
            </dl>
          </div>
        </div>
        <div class="nav-down-menu menu-3 menu-1" id="developer" _t_nav="developer" style="display: none;">
          <div class="navigation-down-inner">
            <dl style="margin-left: 500px;">
              <dd>
                <a class="link" href="start.html" translate-name="header_develop_start">快速开始</a>
              </dd>
            </dl>
            <dl>
              <dd>
                <a class="link" href="sdkdownload.html" translate-name="header_develop_sdk">SDK下载</a>
              </dd>
            </dl>
          </div>
        </div>
        <div class="nav-down-menu menu-3 menu-1" id="appdownload" _t_nav="appdownload" style="display: none;">
          <div class="navigation-down-inner">
            <dl style="margin-left: 480px;">
              <dt>Android</dt>
              <dd>
                <img src="../../resource/img/bootstrap.jpg" width="100px" height="100px" alt="Generic placeholder image">
              </dd>
            </dl>
            <dl>
              <dt>iOS</dt>
              <dd>
                <img src="../../resource/img/bootstrap.jpg" width="100px" height="100px" alt="Generic placeholder image">
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="linee"></div>
    <div id="body1">
      <div id="main1">
        <div id="col-lg-3 bg ">
          <div class="leftsidebar_box">
            <dl class="system_log">
              <dt onClick="changeImage()">
                <img src="../../resource/img/cloud_current.png">
                <span translate-name="sdk_sidebar">虹膜识别</span>
              </dt>
              <dd class="first_dd">
                <a href="#">PHP</a>
              </dd>
              <dd>
                <a href="#">Java</a>
              </dd>
              <dd>
                <a href="#">Python</a>
              </dd>
            </dl>
          </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"
             style="margin-left: 258px; margin-top: 42px;">
          <h1 translate-name="sdk_main">开发工具与SDK</h1>
          <h2 translate-name="sdk_main_p1">官方SDK For 虹膜识别</h2>
          <ul>
            <li>
              <a href="#" translate-name="sdk_main_p1_1">Python SDK &amp; 命令行工具</a>
              &nbsp;
              <span style="color: #999;" translate-name="sdk_main_p1_1_tip">(Python2.7及以上)</span>

              <a href="https://github.com/FacePlusPlus/facepp-python-sdk/tree/v2.0" target="_blank"><br></a>
            </li>
            <li>
              <a href="#" translate-name="sdk_main_p1_2">Objective-C SDK (iOS)</a>
              &nbsp;&nbsp;
              <span style="color: #999;" translate-name="sdk_main_p1_2_tip">(建议Xcode最新版)</span>
              <a href="#" target="_blank"><br></a>
            </li>
            <li>
              <a href="#" translate-name="sdk_main_p1_3">Java SDK (Android)</a>
              &nbsp;&nbsp;
              <span style="color: #999;" translate-name="sdk_main_p1_3_tip">(Android2.3及以上)</span>
              <a href="#" target="_blank"><br></a>
            </li>
            <li>
              <a href="#" translate-name="sdk_main_p1_4">Matlab SDK</a>
              &nbsp; &nbsp;
              <span style="color: #999;" translate-name="sdk_main_p1_4_tip">(Matlab2012a及以上)</span>
              <a href="#" target="_blank"><br></a>
            </li>
            <li>
              <a href="#" translate-name="sdk_main_p1_5">PHP SDK</a>
              <span style="color: #999;" translate-name="sdk_main_p1_5_tip">&nbsp;&nbsp;(PHP5.3及以上)</span>
              <a title="phpsdk" href="#" target="_blank"><br></a>
            </li>
          </ul>
          <h2 translate-name="sdk_main_p2">其他SDK (By开发者)</h2>
          <ul>
            <li>
              <a href="#"> SDK for IRIS</a>
              &nbsp;
              <span style="color: #999;"> by buaabarty</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</body>
<script src="../js/five.js"></script>
</html>
